<%- include('../partials/header',{ title: title }) %>

<h1>
    About Me
</h1>

<p>
    My name is Vinit Thakkar and I am a web developer based in Gandhinagar city. I have been working in the web development industry for over 1 year and have experience with a wide range of technologies including HTML, CSS, JavaScript, Node.js, and Express.
</p>

<%- include('../partials/footer') %>