
        <%- include('../partials/header', { title: "rseryery" }) %>
        <h1 class="new-post-title">rseryery</h1>
        <p class="new-post-desc">ysyetybey</p>
        <%- include('../partials/footer') %>
    