
        <%- include('../partials/header', { title: "srgrsegh ser" }) %>
        <h1 class="new-post-title">srgrsegh ser</h1>
        <p class="new-post-desc"> es h seth</p>
        <%- include('../partials/footer') %>
    