
        <%- include('../partials/header', { title: "srybteut " }) %>
        <h1 class="new-post-title">srybteut </h1>
        <p class="new-post-desc">tutetsu etsu</p>
        <%- include('../partials/footer') %>
    