
            <%- include('../partials/header', { title: "test" }) %>
            <div class="blog-container">
                <h1 class="new-post-title">test</h1>
                <div class="new-post-desc">
                    <pre>test</pre>
                </div>
            </div>
            <%- include('../partials/footer') %>
        